<h1 class="text-3xl">Precios del Servicio</h1>
<hr class="my-2" />
<section>
  <p class="mb-4">
    Et placeat architecto laudantium enim minus dolores iste maxime deleniti
    accusamus dolorem obcaecati esse, fuga dolore eius optio alias autem ipsum
    unde veniam atque molestiae doloremque molestias. Quidem, quas a! Est
    provident esse dolorum perspiciatis doloribus nobis soluta eligendi dolor ea
    eum, accusantium voluptatem. Dolorum sunt eum, minus explicabo veniam ipsam
    illo soluta sed, quaerat repudiandae, tempore quod praesentium quia! Dolorem
    rem tenetur aliquid doloremque minus, tempore ab labore sint est eligendi,
    ut quos porro cupiditate impedit nemo eveniet, libero minima blanditiis?
    Veniam aliquid magnam porro, quis vel possimus ratione!
  </p>
</section>
